<section>
    <div class="row">
        <div *ngFor="let repo of repos" class="col-md-6">     
            <div class="card mt-5">
                <div class="card-body">
                    <h5>{{repo.name}}</h5>
                    <p>{{repo.description}}</p>
                </div>
                <div class="card-footer" id="footer">
                    <div class="row">
                        <div class="col-6">
                            <span>{{repo.created_at}}</span>
                        </div>
                        <div class="col-6">
                            <a href="{{repo.html_url}}" class="btn ms-5" id="view">View Repo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
