<section>
    <div *ngFor="let repo of repos" class="container">
        <div class="row align-items-start">
            <div class="col-md-6">
                <div class="card">
                    <h3>{{repo.name}}</h3>
                </div>
            </div>
            <div class="col-md-6">
                One of three columns
            </div>
        </div>
        <div class="row align-items-center">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        </div>
        <div class="row align-items-end">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        </div>
    </div>
</section>
